## 문제 06

In [1]:
# =============================================================================
# =============================================================================
# # 문제 06 유형(DataSet_06.csv 이용)
#
# 구분자 : comma(“,”), 4,323 Rows, 19 Columns, UTF-8 인코딩

# 주택 관련 정보를 바탕으로 주택 가격을 예측해 보고자 한다. 
# 다음은 확보한 주택 관련 데이터로 총 19개 컬럼으로 구성되어
# 있다.

# 컬 럼 / 정 의 / Type
# id / 매물 번호 / Double
# date / 날짜 / String
# price / 거래 가격 / Double
# bedrooms / 방 개수 / Double
# bathrooms / 화장실 개수 (화장실은 있으나 샤워기 없는 경우 0.5로 처리) / Double
# sqft_living / 건축물 면적 / Double
# sqft_lot / 대지 면적 / Double
# floors / 건축물의 층수 / Double
# waterfront / 강변 조망 가능 여부 (0 / 1) / Double
# view / 경관 (나쁨에서 좋음으로 0 ~ 4로 표시) / Double
# condition / 관리 상태 (나쁨에서 좋음으로 1 ~ 5로 표시) / Double
# grade / 등급 (낮음에서 높음으로 1 ~ 13으로 표시) / Double
# sqft_above / 지상 면적 / Double
# sqft_basement / 지하실 면적 / Double
# yr_built / 건축 연도 / Double
# yr_renovated / 개축 연도 / Double
# zipcode / 우편번호 / Double
# sqft_living15 / 15개의 인근 주택의 평균 건물 면적 / Double
# sqft_lot15 / 15개의 인근 주택의 평균 대지 면적 / Double
# =============================================================================
# =============================================================================

import pandas as pd

data6 = pd.read_csv('./DataSet/DataSet_06.csv')

In [9]:
# =============================================================================
# 1.강변 조망이 가능한지 여부(waterfront)에 따라 평균 주택 가격을 계산하고 조망이
# 가능한 경우와 그렇지 않은 경우의 평균 가격 차이의 절대값을 구하시오. 답은
# 소수점 이하는 버리고 정수부만 기술하시오. (답안 예시) 1234567
# =============================================================================

# 1. 강변 조망이 가능한지 여부(waterfront)에 따라 평균 주택 가격을 계산
q6_1 = data6.groupby('waterfront')['price'].mean()

q6_1_out = abs(q6_1[0] - q6_1[1])
q6_1_out

# 답 : 1167272

1167272.748018648

In [11]:
# 정답
q1_1=data6[data6.waterfront==1]['price'].mean()
q1_0=data6[data6.waterfront==0]['price'].mean()

q1_out=abs(q1_1 - q1_0)
q1_out
# 답: 1167272

1167272.748018648

In [19]:
# =============================================================================
# 2.price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, yr_built 등 7개의 변수 간의
# 상관분석을 수행하고 price와의 상관계수의 절대값이 가장 큰 변수와 가장 작은
# 변수를 차례로 기술하시오. (답안 예시) view, zipcode
# 
# =============================================================================

var_list = ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'yr_built']

q6_2 = data6[var_list].corr().drop('price')['price'].abs()

print(f'최대값 : {q6_2.idxmax()}') # sqft_living
print(f'최솟값 : {q6_2.idxmin()}') # yr_built

# 답 : sqft_living, yr_built

최대값 : sqft_living
최솟값 : yr_built

In [38]:
# =============================================================================
# 3. id, date, 그리고 zipcode를 제외한 모든 변수를 독립변수로, price를 종속변수로 하여
# 회귀분석을 수행하시오. 통계적 유의성을 갖지 못하는 독립변수를 제거하면 회귀
# 모형에 남는 변수는 모두
# 몇 개인가? 이 때 음의 회귀계수를 가지는 변수는 몇 개인가? (답안 예시) 5, 3
# =============================================================================
# =============================================================================
# (참고)
# import pandas as pd
# import numpy as np
# from sklearn.linear_model import LinearRegression
# from statsmodels.formula.api import ols
# =============================================================================

from sklearn.linear_model import LinearRegression
from statsmodels.formula.api import ols

# 1. 독립변수
var_list2 = data6.columns.drop(['id','date','zipcode','price'])

# 2. 회귀분석
# ols(식, 데이터).fit()
form1 = 'price~' + '+'.join(var_list2)

lm = ols(form1, data6).fit()

# 3. 통계적 유의성을 갖지 못하는 독립변수를 제거하면 회귀모형에 남는 변수는 모두 몇 개?
lm.summary()
q6_3_out = lm.pvalues.drop('Intercept')
print(f'개수:{len(q6_3_out[q6_3_out < 0.05])}')  # 13

# 4. 이 때 음의 회귀계수를 가지는 변수는?
# - 유의성을 갖는 변수 목록
result_var_list = q6_3_out[q6_3_out < 0.05].index

# - 유의성을 갖는 변수 목록 중 회귀계수가 음수인 변수
result_q6 = (lm.params[result_var_list] < 0).sum()
print(f'음의 회귀계수 개수 : {result_q6}')

# 답 : 13, 2

개수:13
음의 회귀계수 개수 : 2

## 문제 07

In [40]:
# =============================================================================
# =============================================================================
# # 문제 07 유형(DataSet_07.csv 이용)
#
# 구분자 : comma(“,”), 400 Rows, 9 Columns, UTF-8 인코딩
#
# 대학원 진학을 위하여 어떤 항목이 중요하게 영향을 미치는지
# 아래 데이터로 분석하고자 한다.

# 컬 럼 / 정 의 / Type
# Serial_No / 구분자 번호 / Double
# GRE / GRE 시험 성적 / Double
# TOEFL / TOEFL 시험 성적 / Double
# University_Rating / 대학 평가 그룹 (1 ~ 5) / Double
# SOP / 자기 소개서 점수 (1 ~ 5) / Double
# LOR / 추천서 점수 (1 ~ 5) / Double
# CGPA / 학부 평량 평점 (10점 만점 환산 점수) / Double
# Research / 연구 참여 경험 여부 (0 / 1) / Double
# Chance_of_Admit / 합격 가능성 / Double
# =============================================================================
# =============================================================================

# =============================================================================
# (참고)
# #1
# import pandas as pd
# #2
# import scipy.stats as stats
# #3
# from sklearn.linear_model import LogisticRegression
# Solver = ‘liblinear’, random_state = 12
# =============================================================================

import pandas as pd

data7 = pd.read_csv('./DataSet/DataSet_07.csv')

In [44]:
# =============================================================================
# 1. 합격 가능성에 GRE, TOEFL, CGPA 점수 가운데 가장 영향이 큰 것이 어떤 점수인지
# 알아 보기 위해서 상관 분석을 수행한다.
# - 피어슨(Pearson) 상관계수 값을 구한다.
# - Chance_of_Admit와의 가장 큰 상관계수 값을 가지는 항목의 상관계수를 소수점 넷째
# 자리에서 반올림하여 셋째 자리까지 기술하시오. (답안 예시) 0.123
# =============================================================================

# 1.  Chance_of_Admit, GRE, TOEFL, CGPA 
var_list = ['Chance_of_Admit', 'GRE', 'TOEFL', 'CGPA']

# 2. 피어슨 상관계수
q7_1 = data7[var_list].corr().drop('Chance_of_Admit')['Chance_of_Admit']
print(f'가장 큰 상관계수 : {abs(q7_1).max()}')

# 답 : 0.873

가장 큰 상관계수 : 0.8732890993553003

In [52]:
# =============================================================================
# 2.GRE 점수의 평균 이상을 받은 그룹과 평균 미만을 받은 그룹의 CGPA 평균은 차이가
# 있는지
# 검정을 하고자 한다.
# - 적절한 검정 방법을 선택하고 양측 검정을 수행하시오 (등분산으로 가정)
# - 검정 결과, 검정통계량의 추정치를 소수점 셋째 자리에서 반올림하여 소수점 두 자리까지
# 기술하시오.
# (답안 예시) 1.23
# =============================================================================
import numpy as np
import scipy.stats as stats
from scipy.stats import ttest_ind

# 1. GRE 점수의 평균
mu = data7['GRE'].mean()  # 316.8075

# 2. GRE 점수의 평균 이상을 받은 그룹과 평균 미만을 받은 그룹
q7_2 = data7.copy()
q7_2['GRE_gr'] = np.where(q7_2['GRE'] < mu, 0, 1)

# 3. CGPA 평균
q7_2_0 = q7_2[q7_2['GRE_gr'] == 0]['CGPA']
q7_2_1 = q7_2[q7_2['GRE_gr'] == 1]['CGPA']

# 4. 양측 검정 ttest_ind
q7_2_out = ttest_ind(q7_2_1, q7_2_0, equal_var=True)  # equal_var=True : 등분산

# 5. 검정통계량 추정치
print(f'검정통계량 추정치 : {round(q7_2_out.statistic,3)}')

# 답 : 19.44

검정통계량 추정치 : 19.443

In [67]:
# =============================================================================
# 3.Chance_of_Admit 확률이 0.5를 초과하면 합격으로, 이하이면 불합격으로 구분하고
# 로지스틱 회귀분석을 수행하시오.
# - 원데이터만 사용하고, 원데이터 가운데 Serial_No와 Label은 모형에서 제외
# - 각 설정값은 다음과 같이 지정하고, 언급되지 않은 사항은 기본 설정값을 사용하시오
# Seed : 123
# - 로지스틱 회귀분석 수행 결과에서 로지스틱 회귀계수의 절대값이 가장 큰 변수와 그 값을
# 기술하시오. 
# (로지스틱 회귀계수는 반올림하여 소수점 둘째 자리까지 / Intercept는 제외)
# (답안 예시) abc, 0.12
# =============================================================================

from sklearn.linear_model import LogisticRegression
# Solver = ‘liblinear’, random_state = 12

# 1. Chance_of_Admit 확률이 0.5를 초과하면 합격으로, 이하이면 불합격
q7_3 = data7.copy()
q7_3['Ch_cd'] = np.where(q7_3['Chance_of_Admit'] > 0.5, 1, 0)

# 2. 로지스틱 회귀분석
# 2-1. 원데이터만 사용하고, 원데이터 가운데 Serial_No와 Label은 모형에서 제외
var_list = data7.columns.drop(['Serial_No','Chance_of_Admit'])

# 2-2. 로지스틱 회귀분석
logit = LogisticRegression(fit_intercept=False,
                  random_state = 12, solver='liblinear')
logit.fit(q7_3[var_list], q7_3['Ch_cd'])

# 2-3. 로지스틱 회귀계수의 절대값이 가장 큰 변수와 그 값
print(f'절대값이 가장 큰 값 : {abs(logit.coef_).max()}')

logit.coef_.shape
q7_3_out = pd.Series(logit.coef_.reshape(-1))
q7_3_out.index = var_list
q7_3_out.abs().nlargest()

# CGPA        1.955352
# 답 : CGPA, 1.96

절대값이 가장 큰 값 : 1.9553524719423052

CGPA        1.955352
LOR         1.007927
Research    0.674606
SOP         0.243510
TOEFL       0.107847
dtype: float64

## 문제 08

In [70]:
# =============================================================================
# =============================================================================
# # 문제 08 유형(DataSet_08.csv 이용)
#
# 구분자 : comma(“,”), 50 Rows, 5 Columns, UTF-8 인코딩
#
# 스타트업 기업들의 수익성에 대한 분석을 하기 위하여
# 아래와 같은 데이터를 입수하였다
#
# 
# 컬 럼 / 정 의 / Type
# RandD_Spend / 연구개발비 지출 / Double
# Administration / 운영관리비 지출 / Double
# Marketing_Spend / 마케팅비 지출 / Double
# State / 본사 위치 / String
# Profit / 이익 / Double
# =============================================================================
# =============================================================================

# =============================================================================
# (참고)
# #1
# import pandas as pd
# import numpy as np
# #3
# from sklearn.linear_model import LinearRegression
# =============================================================================

import pandas as pd
import numpy as np

data8 = pd.read_csv('./DataSet/DataSet_08.csv')

In [84]:
# =============================================================================
# 1.각 주(State)별 데이터 구성비를 소수점 둘째 자리까지 구하고, 알파벳 순으로
# 기술하시오(주 이름 기준).
# (답안 예시) 0.12, 0.34, 0.54
# =============================================================================

data8[['State']].value_counts(normalize=True).sort_index().values

# 답 : 0.34, 0.32, 0.34

array([0.34, 0.32, 0.34])

- value_counts() : 개수 세기
- value_counts(normalize=True) : 비율

In [87]:
# =============================================================================
# 2.주별 이익의 평균을 구하고, 평균 이익이 가장 큰 주와 작은 주의 차이를 구하시오. 
# 차이값은 소수점 이하는 버리고 정수부분만 기술하시오. (답안 예시) 1234
# =============================================================================

q8_2 = data8.groupby('State')['Profit'].mean()
q8_2.max() - q8_2.min()  # 14868.849080882355

# 답 : 14868

14868.849080882355

In [89]:
# 정답 
q8_2_2=data8.copy()

q8_2_2_tab=pd.pivot_table(data=q8_2_2,
               index='State',
               values='Profit')

q8_2_2_tab.max() - q8_2_2_tab.min()

Profit    14868.849081
dtype: float64

In [99]:
### =============================================================================
# 3.독립변수로 RandD_Spend, Administration, Marketing_Spend를 사용하여 Profit을 주별로
# 예측하는 회귀 모형을 만들고, 이 회귀모형을 사용하여 학습오차를 산출하시오.
# - 주별로 계산된 학습오차 중 MAPE 기준으로 가장 낮은 오차를 보이는 주는 어느
# 주이고 그 값은 무엇인가? (반올림하여 소수점 둘째 자리까지 기술하시오)
# - (MAPE = Σ ( | y - y ̂ | / y ) * 100/n )
# (답안 예시) ABC, 1.56
# =============================================================================

from sklearn.linear_model import LinearRegression

# 1. 독립변수로 RandD_Spend, Administration, Marketing_Spend를 사용
var_list = ['RandD_Spend', 'Administration', 'Marketing_Spend']
q8_3 = data8.copy()

# 2. Profit을 주별로 예측하는 회귀 모형
# - 주별
state_list = q8_3.State.unique()

# 주별로 회귀 모형
q8_3_out = []
for i in state_list:
    # 주별로
    temp = q8_3[q8_3['State']==i]
    # 회귀분석 학습
    lm = LinearRegression().fit(temp[var_list], temp['Profit'])
    # 예측
    pred = lm.predict(temp[var_list])
    # MAPE
    # (MAPE = Σ ( | y - y ̂ | / y ) * 100/n )
    mape = (abs(temp['Profit'] - pred) / temp['Profit']).sum() * 100 / len(temp)
    # 리스트 담기
    q8_3_out.append([i, mape])
    
q8_3_df = pd.DataFrame(q8_3_out, columns=['state','mape'])

# 가장 낮은 오차를 보이는 주
q8_3_df.sort_values(by='mape', ascending=True).head(1)

# 답 : Florida, 5.706713

     state      mape
2  Florida  5.706713

## 문제 09

In [101]:
# =============================================================================
# =============================================================================
# # 문제 09 유형(DataSet_09.csv 이용)
#
# 구분자 : comma(“,”), 2000 Rows, 16 Columns, UTF-8 인코딩
#
# 항공사에서 고객만족도 조사를 하고 서비스 개선에 활용하고자
# 아래와 같은 데이터를 준비하였다.
#
# 컬 럼 / 정 의 / Type
# satisfaction / 서비스 만족 여부 / String
# Gender / 성별 / String
# Age / 나이 / Double
# Customer_Type / 고객 타입 / String
# Class / 탑승 좌석 등급 / String
# Flight_Distance / 비행 거리 / Double
# Seat_comfort / 좌석 안락도 점수 / Double
# Food_and_Drink / 식사와 음료 점수 / Double
# Inflight_wifi_service / 기내 와이파이 서비스 점수 / Double
# Inflight_entertainment / 기내 엔터테인먼트 서비스 점수 / Double
# Onboard_service / 탑승 서비스 점수 / Double
# Leg_room_service / 다리 공간 점수 / Double
# Baggage_handling / 수하물 취급 점수 / Double
# Cleanliness / 청결도 점수 / Double
# Departure_Daly_in_Minutes / 출발 지연 (분) / Double
# Arrival_Delay_in_Minutes / 도착 지연 (분) / Double
# =============================================================================
# =============================================================================

# =============================================================================
# (참고)
# #1
# import pandas as pd
# import numpy as np
# #2
# import scipy.stats as stats
# #3
# from sklearn.linear_model import LogisticRegression
# from sklearn.model_selection import train_test_split
# from sklearn import metrics
# 
# =============================================================================

import pandas as pd
import numpy as np

data9 = pd.read_csv('./DataSet/DataSet_09.csv')

In [105]:
# =============================================================================
# 1.데이터 타입을 위 표에 정의된 타입으로 전처리를 한 후, 데이터 파일 내에 결측값은
# 총 몇 개인가? (답안 예시) 1
# =============================================================================

data9.info()

data9.isnull().sum().sum()

# 답 : 5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   satisfaction                2000 non-null   object
 1   Gender                      2000 non-null   object
 2   Age                         2000 non-null   float64
 3   Customer_Type               2000 non-null   object
 4   Class                       2000 non-null   object
 5   Flight_Distance             2000 non-null   float64
 6   Seat_comfort                2000 non-null   float64
 7   Food_and_drink              2000 non-null   float64
 8   Inflight_wifi_service       2000 non-null   float64
 9   Inflight_entertainment      2000 non-null   float64
 10  Onboard_service             2000 non-null   float64
 11  Leg_room_service            2000 non-null   float64
 12  Baggage_handling            2000 non-null   float64
 13  Cleanliness                 2000 non-null   float64
 14  Departure_Delay_in_Minutes  2000 non-null   float64
 15  Arrival_Delay_in_Minutes    1995 non-null   float64
dtypes: float64(12), object(4)
memory usage: 250.1+ KB

5

In [116]:
# =============================================================================
# 2.다음에 제시된 데이터 처리를 하고 카이제곱 독립성 검정을 수행하시오.
# - 결측값이 있다면 해당 행을 제거하시오.
# - 나이는 20 이하이면 10, 30 이하이면 20, 40 이하이면 30, 50 이하이면 40, 60 이하이면 50, 
# 60 초과는 60으로 변환하여 Age_gr으로 파생변수를 생성하시오.
# - Age_gr, Gender, Customer_Type, Class 변수가 satisfaction에 영향이 있는지 카이제곱
# 독립성 검정을 수행하시오. 
# - 연관성이 있는 것으로 파악된 변수의 검정통계량 추정치를 정수 부분만 기술하시오. 
# (답안 예시) 123
# =============================================================================

import scipy.stats as stats
from scipy.stats import chi2_contingency

# 1. 결측값이 있다면 해당 행을 제거
q9_2 = data9.dropna()

# 2. 나이는 20 이하이면 10, 30 이하이면 20, 40 이하이면 30, 50 이하이면 40, 60 이하이면 50, 
# 60 초과는 60으로 변환하여 Age_gr으로 파생변수를 생성

q9_2['Age_gr'] = np.where(q9_2['Age'] <= 20, 10,
                    np.where(q9_2['Age'] <= 30, 20,
                        np.where(q9_2['Age'] <= 40, 30,
                            np.where(q9_2['Age'] <= 50, 40,
                                np.where(q9_2['Age'] <= 60, 50, 60)))))

# 3. Age_gr, Gender, Customer_Type, Class 변수가 satisfaction에 영향이 있는지 카이제곱 독립성 검정

var_list = ['Age_gr', 'Gender', 'Customer_Type', 'Class']

q9_2_out = []
for i in var_list:
    q9_tab = pd.crosstab(index=q9_2[i], columns=q9_2['satisfaction'])
    chi_test = chi2_contingency(q9_tab)
    chi = chi_test[0]
    pvalue = chi_test[1]
    q9_2_out.append([i,chi,pvalue])
    
q9_2_df = pd.DataFrame(q9_2_out, columns=['sub','chi','pvalue'])

# 연관성이 있는 것으로 파악된 변수의 검정통계량 추정치를 정수 부분만 기술
q9_2_df[q9_2_df.pvalue < 0.05]['chi']

# 답 : 1066
# q9_2_df

C:\Users\yes47\AppData\Local\Temp\ipykernel_38792\217511055.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q9_2['Age_gr'] = np.where(q9_2['Age'] <= 20, 10,

1    1066.782426
Name: chi, dtype: float64

In [136]:
# =============================================================================
# 3.고객 만족도를 라벨로 하여 다음과 같이 로지스틱 회귀분석을 수행하시오. 
# - 결측치가 포함된 행은 제거
# - 데이터를 7대 3으로 분리 (Seed = 123)
# - 아래의 11개 변수를 Feature로 사용
# Flight_Distance, Seat_comfort, Food_and_drink, Inflight_wifi_service, 
# Inflight_entertainment,Onboard_service, Leg_room_service, Baggage_handling,
# Cleanliness, Departure_Delay_in_Minutes, Arrival_Delay_in_Minutes
# 
# - Seed = 123, 이외의 항목은 모두 Default 사용
# - 예측 정확도를 측정하고 dissatisfied의 f1 score를 소수점 넷째 자리에서 반올림하여
# 소수점 셋째 자리까지 기술하시오. (답안 예시) 0.123
# =============================================================================

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import f1_score

# 1. 결측치가 포함된 행은 제거
q9_3 = data9.dropna()

# 2. 데이터를 7대 3으로 분리 (Seed = 123)
train, test = train_test_split(q9_3, test_size=0.3, random_state = 123)

# 3. Feature
var_list = ['Flight_Distance', 'Seat_comfort', 'Food_and_drink', 'Inflight_wifi_service', 
            'Inflight_entertainment','Onboard_service', 'Leg_room_service', 'Baggage_handling',
            'Cleanliness', 'Departure_Delay_in_Minutes', 'Arrival_Delay_in_Minutes']

# 3. 로지스틱 회귀분석
# 클래스 정의
lr = LogisticRegression(solver = 'liblinear', random_state=123)
# 학습
result = lr.fit(train[var_list], train['satisfaction'])
# 예측
pred = lr.predict(test[var_list])

# 성능 평가
f1_score(test['satisfaction'], pred, pos_label='dissatisfied')

# 답 : 0.776

0.7764350453172206

In [135]:
# acc = metrics.accuracy_score(test['satisfaction'], pred)
# # pre = metrics.precision_score(test['satisfaction'], pred)
# conf =  metrics.confusion_matrix(test['satisfaction'], pred)

# FF, FM, MF, MM = metrics.confusion_matrix(test['satisfaction'], pred).ravel()

# print(FF, FM, MF, MM)

257 70 78 194

## 문제 10

In [146]:
# =============================================================================
# =============================================================================
# # 문제 10 유형(DataSet_10.csv 이용)
#
# 구분자 : comma(“,”), 1538 Rows, 6 Columns, UTF-8 인코딩

# 중고 자동차 가격에 대한 분석을 위하여 아래와 같은 데이터를
# 확보하였다.

# 컬 럼 / 정 의 / Type
# model / 모델명 / String
# engine_power / 엔진 파워 / Double
# age_in_days / 운행 일수 / Double
# km / 운행 거리 / Double
# previous_owners / 이전 소유자 수 / Double
# price / 중고차 가격 / Double
# =============================================================================
# =============================================================================

# =============================================================================
# (참고)
# #1
# import pandas as pd
# import numpy as np
# #2
# import scipy.stats as ststs
# #3
# from sklearn.linear_model import LinearRegression
# =============================================================================

import pandas as pd
import numpy as np

data10 = pd.read_csv('./DataSet/DataSet_10.csv')

data10 = data10.dropna(axis=1, how='all')

data10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1538 entries, 0 to 1537
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   model            1538 non-null   object
 1   engine_power     1538 non-null   int64
 2   age_in_days      1538 non-null   int64
 3   km               1538 non-null   int64
 4   previous_owners  1538 non-null   int64
 5   price            1538 non-null   int64
dtypes: int64(5), object(1)
memory usage: 72.2+ KB

In [153]:
# =============================================================================
# 1.이전 소유자 수가 한 명이고 엔진 파워가 51인 차에 대해 모델별 하루 평균 운행
# 거리를 산출하였을 때 가장 낮은 값을 가진 모델이 가장 큰 값을 가진 모델에 대한
# 비율은 얼마인가? 소수점 셋째 자리에서 반올림하여 소수점 둘째 자리까지
# 기술하시오.
# (모델별 평균 → 일평균 → 최대최소 비율 계산) (답안 예시) 0.12
# =============================================================================

data10.columns
# ['model', 'engine_power', 'age_in_days', 'km', 'previous_owners','price']

# 이전 소유자 수가 한 명이고 엔진 파워가 51인 차
q10_1 = data10[(data10.previous_owners == 1) & (data10.engine_power == 51)]

# 모델별 하루 평균 운행 거리를 산출
# - 모델별 평균
q10_1_out = q10_1.groupby('model')[['age_in_days','km']].mean()

# - 일평균
q10_1_out['day'] = q10_1_out['km'] / q10_1_out['age_in_days']

# 가장 낮은 값을 가진 모델이 가장 큰 값을 가진 모델에 대한 비율
q10_1_out.day.min() / q10_1_out.day.max()

# 0.97

0.9688580804724013

In [157]:
# =============================================================================
# 2.운행 일수에 대한 운행 거리를 산출하고, 위 1번 문제에서 가장 큰 값을 가지고 있던
# 모델과 가장 낮은 값을 가지고 있던 모델 간의 운행 일수 대비 운행거리 평균이 다른지
# 적절한 통계 검정을 수행하고 p-value를 소수점 세자리 이하는 버리고 소수점
# 두자리까지 기술하고 기각 여부를 Y / N로 답하시오. (등분산을 가정하고 equal_var = 
# True / var.equal = T로 분석을 실행하시오.)
# (답안 예시) 0.23, Y
# =============================================================================

# 1. 운행 일수에 대한 운행 거리
q10_2 = data10.copy()
q10_2['day'] = q10_2['km'] / q10_2['age_in_days']

# 2. 1번 문제에서 가장 큰 값을 가지고 있던
# 모델과 가장 낮은 값을 가지고 있던 모델 간의 운행 일수 대비 운행거리 평균
q10_max = q10_1_out.day.idxmax()
q10_min = q10_1_out.day.idxmin()

# 3. 그룹별 데이터
max_data = q10_2[q10_2.model == q10_max]['day']
min_data = q10_2[q10_2.model == q10_min]['day']

# 4. 적절한 통계 검정을 수행 (ttest_ind 독립 2표본 t 검정)
# 등분산을 가정하고 equal_var = True / var.equal = T
from scipy.stats import ttest_ind
q10_2_out = ttest_ind(max_data, min_data, equal_var = True)

print(round(q10_2_out.pvalue, 2))
print(f'기각 여부 : {q10_2_out.pvalue < 0.05}')

# 답 : 0.13, N

0.13
기각 여부 : False

In [158]:
# [참고] 등분산 검정
from scipy.stats import bartlett
bartlett(max_data, min_data)
# BartlettResult(statistic=2.8320958263094305, pvalue=0.09239770665253491)
# H0 : 등분산이다
# H1 : 등분산이 아니다 (이분산이다)

BartlettResult(statistic=2.8320958263094305, pvalue=0.09239770665253491)

In [165]:
# =============================================================================
# 3.독립변수로 engine_power, age_in_days, km를 사용하고 종속변수로 price를 사용하여
# 모델별 선형회귀분석을 수행하고, 산출된 모형을 사용하여 다음과 같은 조건의
# 중고차에 대한 가격을 예측하고 예측된 가격을 정수부만 기술하시오.
# - model : pop / engine_power : 51 / age_in_days : 400 / km : 9500 / 
#  previous_owners : 2

# (답안 예시) 12345
# =============================================================================
# model = pop이고 이전 소유자수가 2명인 데이터만을 이용하여 회귀모델을 생성하시오.

from sklearn.linear_model import LinearRegression

# 1. model = pop이고 이전 소유자수가 2명인 데이터만을 이용하여 회귀모델을 생성하시오.
q10_3 = data10[(data10.model=='pop') & (data10.previous_owners == 2)]

# 2. 모델 리스트 추출
model_list = q10_3.model.unique()

# 3. 모델별 선형회귀분석
# - 독립변수
var_list = ['engine_power', 'age_in_days', 'km']

for i in model_list:
    temp = q10_3[q10_3.model == i]
    lr = LinearRegression().fit(temp[var_list], temp['price'])
    
# engine_power : 51 / age_in_days : 400 / km : 9500 / 
lr.predict([[51,400,9500]])

# 답 : 10367

array([10367.53433763])

In [167]:
lr.predict(pd.DataFrame(
    {'engine_power' : [51],
     'age_in_days' : [400],
     'km' : [9500]}))

# 10367

array([10367.53433763])